* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: #fff;
  font-family: 'Cinzel', serif;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

#result-screen h2 {
  margin-bottom: 1em;
}

button {
  background: linear-gradient(45deg, #9f00ff, #ffcc00);
  border: none;
  padding: 15px 30px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 20px #ffcc00;
  margin-top: 20px;
}

button:hover {
  opacity: 0.8;
}